.grid {
  width: 80%;
  padding-top: 5em;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 1.5em;
}

.inner_grid {
  background-color: red;
}

.about_me {
  padding: 1em;
}

.img_of_me {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 15em;
}

.skillset {
  padding: 1em;
}

h6 {
  height: 6em;
}

.skills_grid {
  display: grid;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.skill {
  background-color: blue;
  height: 4em;
}

.skill:hover {
  transform: scale(1.2);
}
