body {
  background-color: #eaeaea;
}

.navbar {
  background-color: #ca3535;
  color: white;
  font-family: Roboto;
}

a {
  color: white;
}

a:active {
  background-color: #02808F;
}

dropdown-toggle:active {
  background-color: #02808F;
}

a:hover {
  color: #40b575
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav>li>a:focus, .nav>li>a:hover {
  background-color: #40b575;
  color: white;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}
