html {
  font-family: Roboto;
}
body {
  background-color: #fcfcfc4d;
}

.header {
  margin-top: 3.5em;
  font-size: 2.2em;
  text-align: center;
  color: #3688b0;
}

.time {
  margin-bottom: 1em;
  font-size: 1.35em;
  text-align: center;
}

.about {
  font-size: 1.15em;
  text-align: center;
  margin-bottom: 1em;
}

.frameworks {
  text-align: center;
  font-size: 1.1em;
  margin-top: 2em;
  margin-left: auto;
  margin-bottom: 1em;
  margin-right: auto;
  padding: 0.8em;
  background-color: #d2d2d242;
  width: 40%;
}

.shortcut {
  display: inline-flex;
  width: 30%;
  margin-top: 2em;
  margin-left: 35%;
  margin-bottom: 6em;
}

.sc {
  text-align: center;
  border-right: 0.15em solid #3e97c3;
}

.sc:last-child {
    border-right: 0 !important;
}

.sclink {
  font-size: 1.05em;
  color: black !important;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.website_link:link{
  color: darkred;
}

.website_link:visited {
  color: darkred;
}

.classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  padding-left: 10%;
}

.single_class {

}

.technology {
  margin-top: 2em;
  width: 60%;
  margin-left: 20%;
}

.single_image {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 0.25em;
  border-color: #777777;
}

#user_stories {
  background-color: #e4e4e4;
}

.user_story_text {
  padding-left: 2em;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
background-color: #3786ab4f;
padding: 0.15em;
}

p1 {
  font-size: 1em;
}
