.header {
  margin-top: 1.5em;
  font-family: Roboto;
  font-size: 2em;
  text-align: center;
}

.about {
  font-family: Roboto;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 1em;
}

.frameworks {
  text-align: center;
  font-size: 1.1em;
  border-style: solid;
  border-width: 0.2em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

.shortcut {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.05em;
  width: 50%;
  margin-left: 25%;
}

.sc {
  text-align: center;
  font-weight: bolder;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.sclink {
  font-size: 1.05em;
  color: black !important;
  text-decoration: underline !important;
}

.sc:hover {
  background-color: #40b575;
}

.website_link:link{
  color: darkred;
}

.website_link:visited {
  color: darkred;
}


.technology {
  font-family: Roboto;
  width: 90%;
  margin-left: 5%;
}

.single_image {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

#user_stories {
  padding: 2em;
  background-color: lightgrey;
}

#example_of_use {
  background-color: lightgrey;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  background-color: #e8817d82;
}

p1 {
  font-size: 1em;
}
